@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

:root {
  --bg-color: #5d5cdc;
  --second-bg-color: #fff;
  --three-bg-color: #f8f8f8;
  --color-hover: #feb12f;
}


body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.bg {
  color: var(--bg-color);
}

.mt {
  margin-top: 1.5rem;
}

ul li {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 16px;
  word-spacing: 1px;
}

.baris-baru {
  display: block;
}

.navlist a.active {
  color: var(--color-hover);
}

header.sticky {
  background: var(--bg-color);
}

/* parallex */
.scroll-scale {
  opacity: 0;
  transform: scale(.9);
  transition: all 2s;
}

.scroll-bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: 3s;
}

.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 3s;
}
.show-items {
  opacity: 1;
  transform: translateX(0);
}
/* parallax end */

/* header site */
header {
  padding: 0 5% 0 5%;
  background: var(--bg-color);
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.logo {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.logo span {
  color: var(--color-hover);
  font-weight: 600;
}

.navlist {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 0.95rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn {
  background: var(--color-hover);
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  color: white;
  text-shadow: 0 0 1px rgb(204, 200, 200);
  cursor: pointer;
}

#menu-icon {
  display: none;
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  border-radius: 5px;
  background: var(--color-hover);
}

/* end header site */

/* home section */
.home {
  background: var(--bg-color);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: white;
  gap: 1rem;
  padding-bottom: 0;
  padding-left: 2%;
}

.icons-round {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 0 1.5rem; */
}

.icons-round span {
  width: 6px;
  height: 6px;
  display: inline-block;
  background: white;
  border-radius: 50%;
}

.home .text-box {
  display: flex;
  column-gap: 1rem;
}

.home .container-text-box {
  padding: 16% 0 0 3%;
}

.home .container-text-box h1 {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.home .container-text-box p {
  color: #e6e4e4;
}

.br {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}

.home .box-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e6e4e4;
}

.home .icon-watch a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.home .icon-watch i {
  color: var(--color-hover);
}

.home .icon-watch span {
  color: white;
  font-size: 14px;
}

.home .profil-box {
  padding-top: 4rem;
  display: flex;
  column-gap: 1rem;
}

.home .profil-box img {
  max-width: 300px;
}

.icons-round.end {
  justify-content: flex-end;
  padding-bottom: 2rem;
}

/* end home section */

section {
  padding: 5%;
}

/* service section */
.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--second-bg-color);
  row-gap: 3rem;
}

.main-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0.2rem;
  padding: 0 9%;
}

.main-text h2 {
  margin: 0.2rem 0 0.8rem 0;
  font-size: 2.5rem;
}

.main-text span {
  color: var(--bg-color);
  font-weight: 600;
}

.container-cards {
  display: flex;
  width: 100%;
  column-gap: 2rem;
  justify-content: center;
}

.container-cards .card {
  width: 100%;
  background-color: var(--three-bg-color);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.container-cards .card p {
  text-align: justify;
}

.container-cards .card:nth-child(2),
.container-cards .card:nth-child(2) i {
  background: var(--bg-color);
  color: white;
  box-shadow: 0 0 12px 4px var(--three-bg-color);
}

.container-cards .card i {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 12px 4px rgba(93, 92, 220, 0.5);
}

.container-cards .card .text h3 {
  margin-bottom: 0.4rem;
}
/* end service section */

/* about section */
.about {
  display: flex;
  width: 100%;
  background: var(--three-bg-color);
  gap: 2.8rem;
}

.about .box-image {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 300px;
}

.about-text {
  align-items: flex-start;
  text-align: start;
  padding: 0;
}

.container-about-cards {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
}

.container-about-cards .card {
  display: flex;
  column-gap: 1rem;
  padding: 1rem;
}


.container-about-cards .card:nth-child(1) {
  background: #fdeddc;
  margin-bottom: 1rem;
}
.container-about-cards .card:nth-child(1) i {
  color: #eea95f;
  border: 1px solid #eea95f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.container-about-cards .card:nth-child(2) i {
  color: #827e86;
  border: 1px solid #827e86;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.container-about-cards .card:nth-child(2) {
  background: #efe8f7;
}
/* end about section */

/* process section */
.portfolio {
  background: var(--second-bg-color);
}

.list-portfolio {
  width: 100%;
  margin-bottom: 2rem;
}

.list-portfolio ul {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.list-portfolio ul li a {
  display: inline-block;
  border: 1px solid #9696c5;
  padding: 0.4rem;
  border-radius: 8px;
}

.container-cards-portfolio {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container-cards-portfolio .card {
  width: 32%;
  height: 280px;
  background-color: var(--three-bg-color);
  border-radius: 10px;
  border: 1px solid black;
}
/* end process section */

/* contact section */
.contact {
  display: flex;
  background: var(--bg-color);
  color: var(--second-bg-color);
  padding: 0 5%;
  /* column-gap: 3rem; */
  width: 100%;
  column-gap: 3rem;
}

.second-btn {
  border-radius: 10px;
  padding: 0.8rem 1.8rem;
}

.contact .main-text-contact {
  padding-top: 4rem;
}

.contact .main-text-contact h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.contact .main-text-contact p {
  margin-bottom: 2rem;
}

.contact .box-image {
  display: flex;
  width: 300px;
  padding-top: 0.5rem;
}

/* end contact section */

/* footer */
footer {
  background: var(--three-bg-color);
  padding: 8rem 4rem 3rem 4rem;
  width: 100%;
}

footer .part1 {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  column-gap: 2rem;
  width: 100%;
}

.container-subscribe h2 {
  margin: 0.2rem 0 0.8rem 0;
  font-size: 2.5rem;
}

.container-subscribe .subscribe {
  color: var(--bg-color);
  font-weight: 600;
}

.brand {
  font-size: 2.3rem;
  font-weight: bold;
  color: #606060;
  display: inline-flex;
}

.container-text {
  color: #6d6b6b;
}

.container-text input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  box-shadow: 0 0 10px #e6e1e1;
}

.box-button-subcribe {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}

.btn-subscribe {
  background: var(--bg-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
}

footer .part2 hr {
  margin: 2rem 0;
  width: 100%;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #606060;
}
/* end footer */

/* breakpoint */

@media (max-width: 888px) {
  .container-cards-portfolio .card {
    width: 48%;
  }
  .container-cards {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .baris-baru {
    display: inline;
  }
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    gap: 2rem;
    flex-direction: column;
    background: var(--bg-color);
    padding: 2% 0;
    transition: all 0.45s ease;
  }
  .navlist.open {
    top: 100%;
  }
  section {
    padding: 5%;
  }

  .home {
    padding-bottom: 1.5rem;
    padding-top: 2.6rem;
    display: flex;
  }
  .home .text-box {
    width: 100%;
  }

  .home .container-text-box {
    padding-top: 4%;
    padding-left: 1%;
  }
  .home .profil-box {
    display: none;
  }
  .icons-round span {
    display: none;
  }

  .about .container-box-image {
    display: none;
  }
  .contact .box-image {
    display: none;
  }
  .contact .main-text-contact {
    padding: 2rem 0;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .main-text {
    padding: 0;
  }
  footer {
    padding: 2rem 5%;
  }
  footer .part1 {
    display: grid;
    grid-template-columns: 2.5fr 0.5;
    column-gap: 2rem;
  }

  .container-subscribe h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  section {
    padding: 4rem 5%;
  }
  nav {
    width: 100%;
  }
  .home {
    padding-top: 5.5rem;
  }
  .container-cards-portfolio .card {
    width: 100%;
  } 
  .home .container-text-box h1 {
    font-size: 1.5rem;
  }

  .container-subscribe h2 {
    font-size: 1.45rem;
  }
  .container-text {
    margin-top: 1rem;
    width: 100%;
  }
  .copyright {
    font-size: 1rem;
  }
  .main-text h2 {
    font-size: 2rem;
  }
  .contact .main-text-contact h2 {
    font-size: 1.6rem;
  }
  .about-text {
    align-items: center;
    text-align: start;
    padding: 0;
  }
  .centerB {
    text-align: center;
  }
  .container-about-cards .card {
    margin-top: 1rem;
  }
}

/* end breakpoint */
